;;
;;
;;
{:aliases
 {:base {:extra-deps {local-base/local-base {:local/root "/home/david/.clojure/libs/local.base"}}}

  :local-dev {:extra-deps {local-dev/local-dev {:local/root "/home/david/.clojure/libs/local.dev"}}
              :main-opts ["-m" "local.dev.main"]}

  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install"]}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}

  :antq {:replace-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                        org.slf4j/slf4j-simple {:mvn/version "2.0.17"}}
         :replace-paths ["."]
         :exec-fn antq.tool/outdated
         :exec-args {:download true
                     :force true
                     :no-changes true
                     :transitive false
                     :skip ["pom" "boot" "leiningen"]
                     :upgrade true
                     :verbose true}}

  :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.284"}}
           :ns-default vlaaad.reveal
           :exec-fn repl}

  :playback {:extra-deps {com.github.gnl/playback {:mvn/version "0.5.4"}}}

  :portal {:extra-deps {djblue/portal {:mvn/version "0.59.0"}}}

  :tab {:extra-deps {io.github.eerohele/tab {:git/url "https://github.com/eerohele/tab.git"
                                             :git/sha "8dd19ade5714f243efaa11bdf74eebadf0be0f52"}}}

  :flow-storm {:extra-deps {com.github.flow-storm/flow-storm-dbg {:mvn/version "4.4.1"}
                            com.github.flow-storm/flow-storm-inst {:mvn/version "4.4.1"}}}}

 :mvn/repos {"central" {:url "https://nexus.harrigan.online/repository/maven-public"}
             "clojars" {:url "https://nexus.harrigan.online/repository/maven-public"}
             "nexus" {:url "https://nexus.harrigan.online/repository/maven-public"}}}
