{:aliases
 {:next {:override-deps {org.clojure/clojure {:mvn/version "1.11.0-master-SNAPSHOT"}}}

  :fig {:jvm-opts ["-Dclojure.server.repl={:port,55556,:accept,clojure.core.server/io-prepl}"]
        :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

  :socket {:jvm-opts ["-Dclojure.server.repl={:port,44444,:accept,clojure.core.server/repl}"]}

  :add-libs {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.12.1063"}}}

  :base {:extra-deps {local-base/local-base {:local/root "/home/david/.clojure/libs/local.base" :deps/manifest :deps}}}

  :local-dev {:extra-deps {local-dev/local-dev {:local/root "/home/david/.clojure/libs/local.dev" :deps/manifest :deps}}
              :main-opts ["-m" "local.dev.main"]}

  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install"]}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}

  :antq {:replace-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.32"}
                        com.github.liquidz/antq {:mvn/version "1.2.0"}}
         :main-opts ["-m" "antq.core"
                     "--exclude" "org.clojure/tools.deps.alpha" ;; we want to keep the specific hash, as it includes the add-libs branch
                     "--skip" "pom"
                     "--skip" "leiningen"
                     "--upgrade"
                     "--force"]}

  :graph {:extra-deps {org.clojure/tools.deps.graph {:mvn/version "1.0.63"}}
          :main-opts ["-m" "clojure.tools.deps.graph"]}

  :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.226"}}
           :ns-default vlaaad.reveal
           :exec-fn repl}

  :portal {:extra-deps {djblue/portal {:mvn/version "0.18.0"}}}

  :new {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.2.362"}}
        :exec-fn clj-new/create
        :exec-args {:template "app"}}

  :deps-new {:extra-deps {com.github.seancorfield/deps-new {:git/tag "v0.4.2"
                                                            :git/sha "1ec7e626e1d1ac80ec6fa33b0d1ba8ca9fe279ac"}
                          clj-template/clj-template {:local/root "/home/david/development/clojure/clj-template"}}
             :exec-fn org.corfield.new/create
             :exec-args {:template "online.harrigan/clj-template"
                         :overwrite :delete
                         :main "main"}}}

 :mvn/repos {"central" {:url "http://nexus/repository/maven-public"}
             "nexus" {:url "http://nexus/repository/maven-public"}
             "clojars" {:url "http://nexus/repository/clojars"}}}
